*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}
body{
	background-color: #FFBF00;
}
h1, h2,h3,h4,h5,h6{
	color: white;
}
a{
	color: white;
}

.nav-bar{
	background-color: #F6F6F6;
	padding: 30px;
}
.home{
	background: url('..//img/taxi.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	height: 100vh;
	background-position: center bottom
}
.navbar-brand>img{
	margin-left: 75px;
	position: relative;
	bottom: 10px;
}
.navbar-default .navbar-nav>li>a{
	color: black;
	font-size: 1.2em;
	margin-right: 30px;
}
/*REGISTER BOX*/
.box-register{
	background-color: #FFBF00;
	color: white;
	position: relative;
	top: 150px;
}
.input{
	display: inline-block;
}
.input input{
	background-color: transparent;
	border: none;
	border-bottom: 1px solid white;
	margin: 10px auto;
	width: 150px;
}
.input span{
	margin: auto 60px;
}
.input.button{
	text-align: left;
}
.input button{
	color: black;
	border-radius: 5px;
	background-color: white;
	width: 70%;
	height: 50px;
	font-size: 1.3em;
	margin: 10px 0;
}
/*DOWNLOAD SECTION*/
.download-box{
	border: 1px solid white;
	border-left: none;
	margin: 30px 30px 30px -20px;
	padding: 30px;
}
.download-info{
	color: white;
	margin-top: 20px;
}
.download-info p{
	font-size: 1.5em;
	padding: 10px 70px 10px 0;
	text-align: justify;
}
/*DRIVE SECTION*/
.drive{
	background: url('../img/conduce.jpg');
	background-size: cover;
	background-position: center center;

}
.drive-info{
	padding: 80px 30px;
	background-color: rgba(0, 0, 0, 0.5);
	height: 60vh;
	margin-right: -10px;
	color: white;
}
.drive-info p{
	font-size: 1.5em
}
.drive-info button{
	background-color: #FFBF00;
	border: none;
	border-radius: 5px;
	height: 40px;
	width: 300px;
	font-size: 1.5em;
}

/*TARIFA SECTION*/
.tarifa-info{
	color: white;
	margin: 40px;
}
.tarifa-info h4, .tarifa-info h1{
	margin: 20px 110px;
	text-align: left

}
.tarifa-info input{
	background-color: transparent;
	border: 1px solid white;
	width: 60%;
	padding: 15px;
	border-radius: 10px;
	margin: 15px 0 15px 10px;
}
input::-webkit-input-placeholder {
  color: white;
}
.tarifa-info button{
	color: black;
	background-color: white;
	height: 40px;
	padding: 10px;
	border: none;
	font-weight: bolder;
}


#map {
	width: 100%;
	height: 50vh;
}

.map-box{
	border: 1px solid white;
	padding: 10px;
	margin-top: 40px;
	width: 40%;
	margin-left: 60px;
}
/*FOOTER*/
footer{
	background-color: #2E2E2E;
	padding: 40px 20px;
	color: white;
}
.title{
	width: 90%;
	border-bottom: 1px solid white;
	margin-left: 70px;
	padding: 20px 0;
}
.links{
	padding: 20px
}
.links li{
	list-style: none;
	margin: 10px 0; 
}

.apps{
	position: relative;
	top: 200px;
}
.apps img{
	margin-bottom: 20px;
}
.footer{
	margin-top: 30px;
}
#texto:before{
  content: "Conviértete en un conductor";
}
.box-register h1:before{
    	content: "Disfruta del viaje";
}
.download-info h4{
	margin-bottom: 40px;
}
.download-info h4:before{
	content: "";
}

